@import "tailwindcss";

:root {
  /* Brand Colors */
  --color-primary: #2E5936;   /* Verde Amazonía */
  --color-secondary: #F0EAD6; /* Arena Blanca / Hueso */
  --color-accent: #D67897;    /* Rosado Delfín */
  
  /* Text & Backgrounds */
  --color-text-main: #333333; /* Gris Carbón */
  --color-background-soft: #F9F9F7;
  
  /* Fonts */
  --font-playfair: "Playfair Display", serif;
  --font-lato: "Lato", sans-serif;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-text-main: var(--color-text-main);
  
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
  
  --text-h1: 3.5rem; /* 56px */
  --text-h2: 2.5rem; /* 40px */
  --text-h3: 1.5rem; /* 24px */
}

@layer base {
  body {
    background-color: #FFFFFF;
    color: var(--color-text-main);
    font-family: var(--font-lato);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-playfair);
    font-weight: 700;
    color: var(--color-primary);
  }
}
